//
// MonitoringProfileAPI+BulkImport.swift
//
// Hand-written supporting file (NOT generated by openapi-generator).
// Protected from regeneration via .openapi-generator-ignore.
//

import Foundation
#if canImport(FoundationNetworking)
import FoundationNetworking
#endif

extension MonitoringProfileAPI {

    /// Bulk-import monitoring profiles from a raw CSV of URLs.
    ///
    /// Use this instead of the generated `bulkImportMonitoringProfiles(body:)`,
    /// which cannot send a `text/csv` request body — the generated Alamofire
    /// layer only encodes JSON / multipart / form bodies and traps on anything
    /// else. This method sends the raw CSV directly, reusing
    /// `PlomerSwiftSdkAPI.basePath` and `PlomerSwiftSdkAPI.customHeaders` (where
    /// the app configures its auth header), and decodes `BulkImportAccepted`.
    ///
    /// Poll `getBulkImportStatus(jobId:)` (generated, works as-is) for progress
    /// and results.
    ///
    /// - Parameters:
    ///   - csv: CSV body, one URL per line. An optional `url` header line is
    ///     ignored. Blank lines are skipped and duplicates de-duplicated.
    ///     Maximum 500 rows.
    ///   - urlSession: URLSession to use (defaults to `.shared`).
    ///   - apiResponseQueue: queue the completion handler is dispatched on.
    ///   - completion: `.success(BulkImportAccepted)` on HTTP 202, otherwise
    ///     `.failure(ErrorResponse)` (e.g. 400 empty CSV, 413 over 500 rows,
    ///     401 unauthenticated).
    /// - Returns: the underlying `URLSessionDataTask` (already resumed).
    @discardableResult
    public static func bulkImport(
        csv: String,
        urlSession: URLSession = .shared,
        apiResponseQueue: DispatchQueue = PlomerSwiftSdkAPI.apiResponseQueue,
        completion: @escaping (Swift.Result<BulkImportAccepted, ErrorResponse>) -> Void
    ) -> URLSessionDataTask {
        var request = URLRequest(
            url: URL(string: PlomerSwiftSdkAPI.basePath + "/monitoring-profile/bulk")!
        )
        request.httpMethod = "POST"
        request.setValue("text/csv", forHTTPHeaderField: "Content-Type")
        for (header, value) in PlomerSwiftSdkAPI.customHeaders {
            request.setValue(value, forHTTPHeaderField: header)
        }
        request.httpBody = csv.data(using: .utf8)

        let task = urlSession.dataTask(with: request) { data, response, error in
            apiResponseQueue.async {
                let statusCode = (response as? HTTPURLResponse)?.statusCode ?? -1

                if let error = error {
                    completion(.failure(ErrorResponse.error(statusCode, data, response, error)))
                    return
                }

                guard let data = data, (200..<300).contains(statusCode) else {
                    completion(.failure(ErrorResponse.error(
                        statusCode,
                        data,
                        response,
                        DecodableRequestBuilderError.unsuccessfulHTTPStatusCode
                    )))
                    return
                }

                switch CodableHelper.decode(BulkImportAccepted.self, from: data) {
                case let .success(value):
                    completion(.success(value))
                case let .failure(decodeError):
                    completion(.failure(ErrorResponse.error(statusCode, data, response, decodeError)))
                }
            }
        }

        task.resume()
        return task
    }
}
